link(rel='stylesheet', href='/stylesheets/style.css')
link(rel="stylesheet",  href="app/bootstrap.css")

script(type="text/javascript" src="/app/ext/ext-all-dev.js")
script(type='text/javascript', src='app/app.js')