doctype html
html
head
    title= title
    //extends includes/layout
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="stylesheet" type="text/css" href="app/bootstrap.css">
    script(type="text/javascript" src="/app/ext/ext-all-dev.js")

    script(type='text/javascript', src='app/app.js')
    body
    block content
    //extends includes/scripts