body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.button-edit{
    background: url(../images/Update-icon.png) no-repeat;
    background-size: 95% 95%;
}
.button-remove{
     background: url(../images/Remove-icon.png) no-repeat;
     background-size: 95% 95%;
 }